revision.tex
thesis.pdf
.DS_Store
*.bbl
*.blg
*.log
*.out
*.vtc
*.lof
*.lot
*.synctex.gz
*.toc
*.thm
*.xdv
*.aux
*.fls
*-eps-converted-to.pdf
*.fdb_latexmk
revision.tex
metadata.tex
*.svg
.nfs*
*.ipynb
.ipynb_checkpoints/
classic-thesis-example/
*.run.xml
*.bcf
